/*-------------------------Body Elements----------------------------------------------------------*/
html { 
	background:url("../images/carbon3.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body{
	max-width:850px;
	max-height:2500px;
	margin: 0 auto;
	background-color:#fff;
	border:solid #666;
	border-radius:1.176471%;
	-moz-box-shadow:5px 5px 5px #666;
	-webkit-box-shadow:5px 5px 5px #666;
	box-shadow:5px 5px 5px #666;
	padding:1.176471%;
	overflow:auto;
	font:100%;
}

.fat wreck logo{
	display:block:
	margin: 0 auto;
	float:none;
}

ul{
	list-style-type:none;
	padding:0;
	margin:0;
	overflow:hidden;
	font-family:'Roboto Condensed', cursive;
}

a:link,a:visited{
	display:block;
	width:120px;
	color:#ffffff;
	background-color:#ffaa11;
	text-align:center;
	padding:0;
	text-decoration:none;
}

a:hover,a:active{
	background-color:#000000;
}

li{
	display:inline;
	float:left;
}

h1{
	text-shadow: 2px 2px 2px #111;
	font-family:'Rock Salt', sans-serif;
	color:#ffaa11;
}

h2, h3, p{
	font-family:'Roboto Condensed', sans-serif;
}